<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywkj.ktyunxiao.dao.MapChartCityMapper">
    <insert id="insert" parameterType="mapChartCity">
        INSERT INTO map_chart_city(province, city, company_id, customer_count, amount_count) VALUES
        (#{province},#{city},#{companyId},#{customerCount},#{amountCount})
    </insert>
    <update id="updateCount" parameterType="mapChartCity">
        UPDATE map_chart_city SET
          customer_count = customer_count + #{customerCount},
          amount_count = amount_count + #{amountCount}
          WHERE company_id = #{companyId} AND province = #{province} AND city = #{city}
    </update>
    <select id="selectByCompanyIdAndProvinceAndCityCount" resultType="int">
        SELECT COUNT(1) FROM map_chart_city WHERE company_id = #{companyId} AND city = #{city} AND province = #{province}
    </select>
    <select id="selectByCompanyId" resultType="mapChartPojo">
        SELECT
          city AS name,
          customer_count AS customerCount,
          amount_count AS orderAmount
        FROM map_chart_city WHERE company_id = #{companyId}
    </select>
</mapper>